<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sososeen09.module.test2">

    <application
        android:allowBackup="true"
        android:name="com.sososeen09.module.common.CommonApp"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.sososeen09.module.test2.ModuleTest2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
